.about {
  display: grid;
  grid-template-columns: 20.49% 79.51%;
  grid-template-rows: 60px fit-content 65px;
  grid-template-areas:
    "image title"
    "image text"
    "image button";
  gap: 0;
  padding-top: 60px;
  padding-bottom: 100px;
  scroll-margin-top: 120px;

  @include vp-1023 {
    grid-template-columns: 26.87% 73.13%;
    padding-top: 40px;
    padding-bottom: 80px;
    scroll-margin-top: unset;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-areas: unset;
    padding-top: 25px;
    padding-bottom: 80px;
  }
}

.about__image-container {
  grid-area: image;
  margin-right: 30px;

  @include vp-767 {
    display: none;
  }
}

.about img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.about h2 {
  grid-area: title;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: $ff-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: $color-black-pearl;

  @include vp-767 {
    margin-top: 0;
    font-size: 28px;
    line-height: 35px;
  }
}

.about__spoiler {
  grid-area: text;
  max-height: 170px;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: $color-black-pearl;
  overflow: hidden;
  will-change: max-height;
  transition: max-height $trans-default;

  @include vp-1023 {
    max-height: 255px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }

  @include vp-767 {
    max-height: 210px;
  }
}

.about__spoiler.is-shown {
  max-height: 1000px;
  transition: max-height $trans-spoiler;
}

.about p {
  margin: 0;
  margin-bottom: 30px;

  @include vp-1023 {
    margin-bottom: 18px;
  }
}

.about p:last-child {
  margin-bottom: 0;
}

.about__btn {
  grid-area: button;
  justify-self: start;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  min-height: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-deep-sky-blue;
  background-color: transparent;
  border: 1px solid $color-deep-sky-blue;

  @include vp-1023 {
    margin-bottom: 0;
  }

  @include vp-767 {
    grid-area: unset;
  }

  @include hover {
    opacity: 0.6;
  }

  @include focus {
    outline: 3px dashed rgba($color-deep-sky-blue, 0.6);
  }

  @include active {
    opacity: 0.2;
  }

  &:disabled,
  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
