.contacts {
  display: grid;
  grid-template-columns: 50.5% 50%;
  gap: 30px 10px;

  @include vp-1023 {
    display: flex;
    margin-right: 20px;
    align-self: start;
  }

  @include vp-767 {
    margin-right: 9px;
  }
}

.contacts__link {
  display: flex;
  width: fit-content;
  padding: 7px 0;
  align-items: center;
  font-style: normal;
  color: inherit;
  transition: opacity $trans-default;

  @include vp-1023 {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  @include hover {
    opacity: 0.6;
  }

  @include focus {
    outline: 3px dashed rgba($color-deep-sky-blue, 0.6);
  }

  @include active {
    opacity: 0.2;
  }
}

.contacts__icon {
  flex-shrink: 0;
  color: $color-deep-sky-blue;
}

.contacts__txt {
  margin-left: 15px;

  @include vp-1023 {
    display: none;
  }
}
