.features {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-alice-blue-bg;

  @include vp-1023 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.features__item {
  min-height: 300px;
  padding: 40px 45px;
  background-color: $color-alice-blue-bg;
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;
  transition: background-color $trans-default, border-color $trans-default;

  @include vp-1023 {
    min-height: 360px;
    padding-bottom: 35px;
  }

  @include vp-767 {
    min-height: 325px;
    padding: 30px;
    padding-bottom: 35px;
  }
}

.features__icon {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  color: $color-deep-sky-blue;
  transition: color $trans-default;

  @include vp-767 {
    width: 30px;
    height: 30px;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 35px;
  color: $color-deep-sky-blue;
  transition: color $trans-default;

  @include vp-1023 {
    line-height: 25px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
  }
}

.features__txt {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: $color-black-pearl;
  transition: color $trans-default;

  @include vp-1023 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.features__item:hover {
  @media (min-width: 768px) {

    background-color: $color-deep-sky-blue;
    border-color: $color-deep-sky-blue;

    & .features__icon,
    & .features__title,
    & .features__txt {
      color: $color-alice-blue-txt;
    }
  }
}
