.feedback {
  position: relative;
  z-index: 1;
  padding-top: 170px;
  padding-bottom: 250px;
  color: $color-default-white;
  background-color: $color-deep-sky-blue;
  scroll-margin-top: 120px;

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 50.63%;
    height: 100%;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,0 0,100' fill='rgba(4, 24, 39, 0.5)'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";

    @include vp-1023 {
      display: none;
    }
  }

  @include vp-1023 {
    padding-top: 50px;
    padding-bottom: 125px;
    scroll-margin-top: unset;
  }

  @include vp-767 {
    padding-bottom: 90px;
  }
}

.feedback__container {
  display: flex;
  justify-content: space-between;
}

.feedback__background-wrapper {
  padding-top: 76px;
  padding-right: 35px;

  @include vp-1023 {
    display: none;
  }
}

.feedback__background {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.feedback__wrapper {
  width: 590px;
  flex-shrink: 0;
  padding-right: 10px;

  @include vp-1023 {
    width: 100%;
    padding-right: 0;
  }
}

.feedback h2 {
  margin: 0;
  margin-top: -2px;
  margin-bottom: 15px;
  margin-left: -4px;
  font-family: $ff-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 35px;
  }
}

.feedback p {
  margin: 0;
  margin-bottom: 37px;
  font-size: 16px;
  line-height: 20px;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 15px;
  }
}
