.footer {
  margin-top: auto;
  padding-top: 50px;
  padding-bottom: 55px;
  font-size: 16px;
  line-height: 20px;
  color: $color-white-trasparent;
  background-color: $color-black-pearl;

  @include vp-1023 {
    padding-bottom: 65px;
  }

  @include vp-767 {
    padding-top: 32px;
    padding-bottom: 35px;
    overflow: hidden;
  }
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 69.26%;
  gap: 30px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 35px 110px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}

.footer__logo-wrapper {
  display: flex;
  flex-direction: column;

  @include vp-1023 {
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1/-1;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
  }
}

.footer__logo {
  display: block;
  width: 215px;
  margin-bottom: 30px;

  @include vp-1023 {
    margin-bottom: 0;
  }
}

.footer__social-list {
  margin: 0;
  margin-left: 10px;

  @include vp-1023 {
    margin-top: 5px;
  }

  @include vp-767 {
    margin-top: 15px;
  }
}

.footer__accordion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include vp-767 {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 55.62%;

  @include vp-1023 {
    width: 32.84%;
  }

  @include vp-767 {
    width: auto;
    margin-left: -100px;
    margin-right: -100px;
    padding: 5px 100px;
    border: 1px solid $color-white-trasparent;
  }
}

.footer__column + .footer__column {
  width: 40.83%;

  @include vp-1023 {
    width: 47.76%;
  }

  @include vp-767 {
    width: auto;
    margin-top: -1px;
    border-top: none;
  }
}

.footer__title {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-transform: uppercase;

  @include vp-1023 {
    margin-top: 0;
  }

  @include vp-767 {
    position: relative;
    margin: 0 -100px;
    padding: 15px 100px;

    &::before,
    &::after {
      position: absolute;
      top: 22px;
      right: 100px;
      width: 15px;
      height: 1px;
      background-color: $color-white-trasparent;
      content: "";
    }

    &::after {
      transform: scaleY(1) rotate(90deg);
      will-change: transform;
      transition: transform $trans-default;
    }
  }
}

.is-active .footer__title {
  @include vp-767 {
    &::after {
      transform: scaleY(0) rotate(90deg);
    }
  }
}
