.footer-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
  gap: 10px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--add {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    grid-auto-flow: unset;
    gap: 10px;
  }

  @include vp-1023 {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    grid-auto-flow: unset;
    gap: 10px;

    &--add {
      gap: 6px;
    }
  }

  @include vp-767 {
    grid-template-columns: 1fr;

    &--add {
      padding-top: 2px;
      margin-left: -2px;
      gap: 11px;
    }
  }
}

.footer-list__item {
  height: min-content;

  &:first-child {
    margin-top: 0;
  }

  @include vp-767 {
    &:last-child {
      margin-bottom: 11px;
    }
  }
}

.footer-list:not(.footer-list--add) .footer-list__item {
  @media (min-width: 1024px) {
    @for $i from 1 through 100 {
      // middle item
      &:nth-child(#{$i}):nth-last-child(#{$i}) {
        grid-column: 1/2;
      }

      // first half
      &:nth-child(-n+#{$i}):nth-last-child(n+#{$i + 1}) {
        grid-column: 1/2;
      }

      // last half
      &:nth-child(n+#{$i + 1}):nth-last-child(-n+#{$i}) {
        grid-column: 2/3;
      }
    }
  }
}

.footer-list--add .footer-list__item:first-child {
  margin: 0;
  font-style: normal;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    margin-bottom: 5px;
  }
}

.footer-list__link {
  display: block;
  width: fit-content;
  font-style: normal;
  color: inherit;
  transition: opacity $trans-default;

  @include hover {
    opacity: 0.6;
  }

  @include focus {
    outline: 3px dashed rgba($color-deep-sky-blue, 0.6);
  }

  @include active {
    opacity: 0.2;
  }

  &:disabled,
  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
