.footer {
  margin-top: auto;
  padding-top: 50px;
  padding-bottom: 55px;
  font-size: 16px;
  line-height: 20px;
  color: $color-white-trasparent;
  background-color: $color-black-pearl;

  @include vp-1023 {
    padding-bottom: 65px;
  }
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 38.52% 28.29%;
  gap: 30px;

  @include vp-1023 {
    grid-template-columns: 1fr 47.76%;
    gap: 35px 110px;
  }
}

.footer__logo-wrapper {
  display: flex;
  flex-direction: column;

  @include vp-1023 {
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1/-1;
  }
}

.footer__logo {
  display: block;
  width: 215px;
  margin-bottom: 30px;

  @include vp-1023 {
    margin-bottom: 0;
  }
}

.footer__social-list {
  margin: 0;
  margin-left: 10px;

  @include vp-1023 {
    margin-top: 5px;
  }
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.footer__title {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-transform: uppercase;

  @include vp-1023 {
    margin-top: 0;
  }
}

.footer__nav {
  flex-grow: 1;
}

.footer__list {
  height: 100%;
}

.footer__list * + * {
  margin-top: 10px;
}

.footer__address {
  font-style: normal;
}

.footer__address p {
  margin: 0;
}

.footer__link {
  display: block;
  color: inherit;
  transition: opacity $trans-default;

  @include hover {
    opacity: 0.6;
  }

  @include focus {
    outline: 3px solid $color-deep-sky-blue;
  }

  @include active {
    opacity: 0.2;
  }

  &:disabled,
  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
