.header {
  position: sticky;
  top: 0;
  z-index: 5;
  min-height: 120px;
  padding-top: 30px;
  padding-bottom: 35px;
  color: $color-alice-blue-txt;
  background-image: $top-to-bottom-header;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include vp-1023 {
    position: static;
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    min-height: 70px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.header__container {
  display: grid;
  grid-template-columns: auto 495px auto;
  gap: 10px 10px;
  align-items: center;


  @include vp-1023 {
    display: flex;
    justify-content: space-between;
  }
}

.header__logo {
  grid-column: 1/2;
  justify-self: start;

  @include vp-1023 {
    flex-grow: 0;
    flex-shrink: 0;
    width: 215px;
    height: auto;
    margin-right: 0;
  }

  @include vp-767 {
    width: 35px;
  }
}

.header__contacts {
  grid-column: 2/3;
  justify-self: stretch;
  max-width: 100%;
  margin-bottom: 7px;
  margin-left: 15px;
}

.header__btn {
  grid-column: 3/4;
  justify-self: end;
  min-width: 160px;
  min-height: 40px;
  margin-right: 60px;
  margin-bottom: 5px;
  padding: 10px 15px;
  padding-bottom: 13px;
  font-size: 14px;
  line-height: 14px;
  color: $color-alice-blue-txt;
  background-color: transparent;
  border: 1px solid $color-alice-blue-txt;

  @include vp-1023 {
    display: none;
  }
}
