.header {
  position: sticky;
  top: 0;
  min-height: 120px;
  padding-top: 30px;
  padding-bottom: 35px;
  color: $color-alice-blue-txt;
  background-image: $top-to-bottom-header;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include vp-1023 {
    position: static;
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    min-height: 70px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.header__container {
  display: grid;
  grid-template-columns: minmax(min-content, 355px) 480px 1fr 50px;
  gap: 10px;
  align-items: center;

  @include vp-1023 {
    display: flex;
    justify-content: space-between;
  }
}

.header__logo {
  grid-column: 1/2;
}

.header__address {
  grid-column: 2/3;
}

.header__btn {
  grid-column: 3/4;
  justify-self: end;
  min-width: 160px;
  min-height: 40px;
  padding: 11px 15px;
  font-size: 14px;
  line-height: 16px;
  color: $color-alice-blue-txt;
  border: 1px solid $color-alice-blue-txt;

  @include vp-1023 {
    display: none;
  }
}
