.logo {
  transition: opacity $trans-default;

  @include hover {
    opacity: 0.6;
  }

  @include focus {
    outline: 2px solid $color-deep-sky-blue;
  }

  @include active {
    opacity: 0.2;
  }
}
