.modal {
  position: fixed;
  top: -1000%;
  right: -1000%;
  bottom: -1000%;
  left: -1000%;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-black-pearl, 0.7);
  transform: scale(0);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: border-color $trans-default;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      top: 17px;
      left: 4px;
      display: block;
      width: 28px;
      height: 2px;
      background-color: $color-default-white;
      transform: rotate(45deg);
      content: "";
    }

    &::after {
      transform: rotate(-45deg);
    }

    @include hover {
      border: 2px solid $color-default-white;
    }

    @include focus {
      outline: 3px dashed $color-white-trasparent;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    max-width: 500px;
    padding: 40px;
    color: $color-default-white;
    background-color: $color-deep-sky-blue;
    border-radius: 3px;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }

    & h2 {
      margin: 0;
      margin-bottom: 15px;
      font-family: $ff-title;
      font-weight: 400;
      font-size: 30px;
      line-height: 30px;

      @include vp-1023 {
        margin-bottom: 10px;
      }

      @include vp-767 {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 35px;
      }
    }

    & p {
      margin: 0;
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 20px;

      @include vp-1023 {
        margin-bottom: 25px;
      }

      @include vp-767 {
        margin-bottom: 40px;
        font-size: 14px;
        line-height: 15px;
      }
    }
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}
