.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: fit-content;
  padding: 0;
  list-style-type: none;

  @include vp-1023 {
    justify-content: flex-end;
  }

  @include vp-767 {
    justify-content: center;
  }
}

.social-list__item {
  margin: 0 7.5px 5px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: $color-alice-blue-bg;
  transition: opacity $trans-default;

  @include hover {
    opacity: 0.6;
  }

  @include focus {
    outline: 3px dashed rgba($color-deep-sky-blue, 0.6);
  }

  @include active {
    opacity: 0.2;
  }

  &:disabled,
  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
