// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-black-pearl: #041827;
$color-black-pearl-transparent: rgba($color-black-pearl, $alpha: 0.5);
$color-black-pearl-transparent-mod: rgba(3, 16, 27, 0.7);
$color-black-pearl-transparent-add: rgba($color-black-pearl, $alpha: 0.15);
$color-white-trasparent: rgba($color-default-white, $alpha: 0.7);
$color-alice-blue-txt: #f2f5f6;
$color-alice-blue-bg: #f8fdff;
$color-whisper: #ebebeb;
$color-deep-sky-blue: #00b2ff;

// Gradient

$top-to-bottom-header: linear-gradient(
  180deg,
  $color-black-pearl 84.9%,
  rgba($color-black-pearl, $alpha: 0) 100%
);
$top-to-bottom-hero: linear-gradient(
  180deg,
  rgba(25, 32, 36, 0.7) 71.72%,
  rgba(25, 32, 36, 0) 100%
);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;
$ff-main: "PT Mono", "Lucida Console", "Andale Mono", monospace;
$ff-title: "Roboto Condensed", "Arial Narrow", sans-serif;

// Animation
// ---------------------------------

$tf-default: ease-out;
$trans-default: 0.2s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-spoiler: 0.2s ease-in;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1920: 1920px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
